# dependencies
**/node_modules/
.pnp
.pnp.js

# build output
**/build/
**/dist/
**/.expo/
**/.expo-shared/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
